@model Forensic_Bones.Models.MarcadorCranio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MarcadorCranio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InventCranioId" class="control-label"></label>
                <select asp-for="InventCranioId" class="form-control" asp-items="ViewBag.InventCranioId"></select>
                <span asp-validation-for="InventCranioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CristalNucal" class="control-label"></label>
                <input asp-for="CristalNucal" class="form-control" />
                <span asp-validation-for="CristalNucal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessoMastoide" class="control-label"></label>
                <input asp-for="ProcessoMastoide" class="form-control" />
                <span asp-validation-for="ProcessoMastoide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EminenciaMentoniana" class="control-label"></label>
                <input asp-for="EminenciaMentoniana" class="form-control" />
                <span asp-validation-for="EminenciaMentoniana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupraOrbital" class="control-label"></label>
                <input asp-for="SupraOrbital" class="form-control" />
                <span asp-validation-for="SupraOrbital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaGlabela" class="control-label"></label>
                <input asp-for="AreaGlabela" class="form-control" />
                <span asp-validation-for="AreaGlabela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
