html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f6f6f6;
}

.custom-bg-color {
    background-color: #e2e2e2;
}

footer {
    font-size: 10px;
    height: 50px;
}

.custom-carousel-image {
    max-height: 85vh;
}

.custom-button-card {
    background-color: #252c35;
    color: #fff;
    &:hover, &:focus

{
    color: #ccc;
}

