@model Forensic_Bones.Models.FotoEsqueleto

@{
    ViewData["Title"] = "Delete";
}
<div class="card text-center d-flex mx-auto m-5 col-lg-6 col-md-12 col-sm-12">
    <div class="card-header">
        <b>Remover Fotografia do Esqueleto</b>
    </div>

    <div class="card">
        <div class="NumeroRelatorio text-center d-flex mx-auto mt-5">
            <label for="NumRelatorio" class="col-sm-4">Relatório:</label>
            <input type="text" id="" name="Relatorio" class="caixa-texto text-center col-4" readonly value="@Model.InventEsqueletoId" />
        </div>
        <div class="ImgEsqueleto text-center d-flex align-content-center mx-auto mt-5">
            <label for="date" class="card-img"></label>
            <img src="@Model.Url" alt="Imagem" class="img-thumbnail d-flex" style="max-width: 100%;" />
        </div>
        <div class="buttonCrud mt-5 mb-5 d-flex mx-auto align-content-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <a asp-action="Index" class="btn btn-secondary" id="cancelDelete" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar">Cancelar</a>
                <button type="submit" class="btn btn-danger me-1" id="deleteItem" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">Remover</button>  
            </form>
        </div>
    </div>
</div>
