@model Forensic_Bones.Models.InventEsqueleto

@{
    ViewData["Title"] = "Create";
}

<div class="tituloPage m-3">
    <h4><b>Relatório de Antropologia Forense</b></h4>
</div>
<hr />

<div class="card text-center d-flex mx-auto col-lg-5 col-md-9 col-sm-8 m-5">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title" id="editarRelatorioModalLabel">Editar Relatório</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
            <form id="cardForm" asp-action="Create" Class="text">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="numeroRelatorio" class="form-label">Número do Relatório</label>
                    <input asp-for="QuantidadeDeOssos" type="text" class="form-control text-center col-6" id="numeroRelatorio" required>
                    <span asp-validation-for="QuantidadeDeOssos" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="dataRelatorio" class="form-label">Data do Relatório</label>
                    <input asp-for="Data" type="date" class="form-control text-center col-6" id="dataRelatorio" required>
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <div class="card-img-bottom">
                    <a class="btn btn-secondary m-3" asp-action="Index">Voltar</a>
                    <button type="submit" value="Create" class="btn custom-button-card">Adicionar</button>   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
