
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="row justify-content-center AccessDenied-container text-center">
        <div class="col-md-6">
            <div class="card mt-5">
                
                <div class="card-body">
                    <h1 class="card-title text-center">Acesso Negado</h1>
                    <hr />
                    <img src="~/lib/Images/acesso-negado.png" class="card-img-top" alt="Acesso Negado">
                    <p>Você não possui permissão para acessar esta página.</p>
                </div>
            </div>
        </div>
    </div>
</div>