@model ForensicBones100.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center login-container">
        <div class="col-md-4">
            <h1 class="text-center pt-5">Login</h1>
            <hr />
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 col-6 mx-auto text-center">
                    <label for="Id" class="form-label">E-mail</label>
                    <input asp-for="Email" class="form-control text-center" id="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6 mx-auto text-center">
                    <label for="Senha" class="form-label">Senha</label>
                    <input asp-for="Senha" type="password" class="form-control text-center" id="Senha" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn custom-button-card">Acessar</button>
                </div>
            </form>
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
